<div class="map">
  <img
    alt="Map image at coordinates {{@lat}},{{@lng}}"
    Atributos
    src="https://www.google.com.br/maps/place/S%C3%A3o+Francisco,+CA,+EUA/@37.7577607,-122.4787995,13z/data=!3m1!4b1!4m6!3m5!1s0x80859a6d00690021:0x4a501367f076adff!8m2!3d37.7749295!4d-122.4194155!16zL20vMGQ2bHA?entry=ttu&g_ep=EgoyMDI0MTIwMi4wIKXMDSoASAFQAw%3D%3D"
    width={{@width}} height={{@height}}
  >
</div>