{{!-- pagina sobre nós linkada com a contato --}}
<Jumbo>
  <h2>Sobre Super Rentals</h2>
  <p>
    O site Super Rentals é um projeto encantador criado para estudar Ember.
    Ao construir um site de aluguel de imóveis. Projeto feito para entregar junto com seminario da disciplina de
    Programação Web do professor Wesley
  </p>
  <LinkTo @route="contact" class="button">Nos contate</LinkTo>
</Jumbo>