{{!-- pagina contate-nos com endereço e linkada com a pagina sobre --}}
<Jumbo>
  <h2>Nos Contate:</h2>
  <p>
    Nós iremos adorar responder suas perguntas<br>
    Escolha um imovel para alugar ou envie suas perguntas
  </p>
  <address>
    Super Rentals HQ
    <p>
      1212 Test Address Avenue<br>
      Testington, OR 97233
    </p>
    <a href="tel:+55 (19) 99354-1162">+55 (19) 99354-1162</a><br>
    <a href="mailto:superrentalsrep@gmail.com">superrentals@gmail.com</a>
  </address>
  <LinkTo @route="about" class="button">Sobre nós</LinkTo>
</Jumbo>